{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "proseWrap": "always",
    "overrides": [
        {
            "files": ["*.md", "*.mdx"],
            "options": {
                "tabWidth": 1
            }
        }
    ]
}
